main{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    background-color: rgba(241, 227, 222, 0.6);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    padding: 30px 20px;
    width: 400px;    
    height: fit-content;
    display: flex;
    flex-direction: column;
}
form input{
    font-size: 15px;
    width: 100%;
    background-color: aliceblue;
    margin-bottom: 10px;
    padding: 5px 5px;
    outline: none;
    border: 1px solid #cfb1a7;
    border-radius: 5px;
}
form button{
    margin-top: 20px;
    font-family: 'Nunito', sans-serif;
    padding: 5px;
    width: 100%;
    background-color: #f5d2c4;
    color: #552f08;
    border-radius: 5px;
    border: 1px solid #b1ada8;
}
button:hover{
    background-color: #552f08;
    color:#f5d2c4;
}

#back{
    align-self: center;
    font-size: 14px;
    text-decoration: none;
    color: #61564c;
    cursor: pointer;
    margin-top: 20px;
    padding: 5px 15px;
    border-radius: 20px;
}
#back:hover{
    background-color: rgba(255, 255, 255, 0.7);;
}
@media(max-width: 768px){
    #back{
        font-size: 13px;
    }
}
@media(max-width: 480px){
    form{
        padding: 20px 15px;
        width: 80%;    
    }
    form input{
        font-size: 12px;
        margin-bottom: 8px;
    }
    form button{
        margin-top: 15px;
    }
    #back{
        font-size: 11px;
    }
}
