.Home{
    border-bottom: 1px solid #552f08;
}
/*  */
main{
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
main button{
    font-family: 'Lobster', cursive;
    padding: 5px 25px;
    border-radius: 20px;
    border: 1px dashed #552f08;
    background-color: #f5d2c4;
    color: #552f08;
    font-size: 20px;
    cursor: pointer;
}
main button a{
    text-decoration: none;
    color: #552f08;
}
main button:hover{
    border: 1px solid #552f08;
    background-color: #eeac92;
    box-shadow: 0 0 5px 0 rgb(79, 79, 79);
}
.first{
    display: flex;
    margin-bottom: 100px;
}
.first .left{
    text-align: justify;
    font-size: 22px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.first .left h1{
    font-family: 'Dancing Script', cursive;
    margin-bottom: 15px;
}
.first .left p{
    margin-bottom: 80px;
}

.first .right{
    padding: 50px;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.first .right img{
    max-width: 100%;
    width: 80%;
    box-shadow:0 0 10px 0 rgb(125, 125, 125);
    border-radius: 5px;
}

/*  */
.types{
    width: 85%;
    display: flex;
    margin-bottom: 100px;
}
.types img{
    width: 25%;
    margin: 0 auto;
    border: 1px solid #552f08;
    cursor: pointer;
}
.types img:hover{
    border: none;
    border-radius: 20px;
    box-shadow: 3px 3px 8px 0 black;
    transition: 0.6s;
}
/*  */
main article{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
}
main article p{
    font-size: 20px;
    width: 90%;
    text-align: justify;
}
main article .images{
    margin: 50px 0;
    display: flex;
    justify-content: space-around;
    width: 80%;
}
main article .images img{
    border: 1px solid #552f08;
    border-radius: 15px;
    width: 20%;
    height: auto;
    box-shadow: 0 0 5px 0 rgb(140, 140, 140);
    cursor: pointer;
}
main article .images img:hover{
    border: 1px solid #f5d2c4;
    box-shadow: 5px 5px 8px 0 black;
    transition: 0.6s;
}
main article .top {
    margin-bottom: 40px;
}
main article .bottom {
    margin-top: 40px;
}

@media (max-width: 1050px){
    .first .left{
        font-size: 17px;
    }
    .first .left h1{
        margin-bottom: 10px;
    }
    .first .left p{
        margin-bottom: 50px;
    }
    main button{
        padding: 4px 25px;
        border-radius: 20px;
        font-size: 17px;
    }
    .first .right{
        padding: 20px;
        width: 40%;
    }
}
@media (max-width: 850px){
    .first{
        flex-direction: column;
        margin-bottom: 10px;
    }
    .first .left{
        text-align: center;
        margin: 50px;
    }
    .first .right img{
        display: none;
    }
    main article p{
        font-size: 15px;
    }

    .first .left h1{
        margin-bottom: 18px;
    }
    .types{
        width: 90%;
        margin-bottom: 60px;
    }
    .types img{
        width: 28%;
    }
    main article{
        margin-bottom: 50px;
    }
    main article .images{
        margin: 20px 0;
        width: 100%;
    }
    main article .top {
        margin-bottom: 20px;
    }
    main article .bottom {
        margin-top: 20px;
    }
}
@media (max-width: 580px){
    main{
        padding: 0 10px;
    }
    .first{
        margin-bottom: 0;
    }
    .first .left{
        font-size: 12px;
        margin: 40px 0;
    }
    .first .left h1{
        margin-bottom: 10px;
    }
    .types{
        width: 95%;
        margin-bottom: 50px;
    }
    .types img{
        width: 30%;
    }
    
    main article{
        margin-bottom: 50px;
    }
    main article p{
        font-size: 12px;
    }
    main article .images{
        margin: 20px 0;
        width: 100%;
    }
    main article .images img{
        width: 22%;
    }
    main article .top {
        margin-bottom: 20px;
    }
    main article .bottom {
        margin-top: 20px;
    }

    .first .left button{
        font-size: 12px;
    }
    main article button{
        font-size: 15px;
    }
}