*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Quicksand', sans-serif;
    color: #552f08;
    background-color:white;
    width: 100%;
    display: flex;
    flex-direction: column;
}
header{
    background-color: #f5d2c4;
    height: 200px;
    display: flex;
    border-bottom: 10px solid #eeac92;
}
.logo{
    height: 100%;
    width: 20%;
}
.logo img{
    height: 100%;
    width: auto;
    margin-left: 45px;
}
.HTM{
    border-bottom: 1px solid #552f08;
}
nav{
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
}
nav a{
    color: #552f08;
    font-size: 28px;
    text-decoration: none;
    cursor: pointer;
    padding: 5px 25px;
    border-radius: 10px;
}
nav a:hover{
    background-color: #552f08;
    color: white;
}


.slideshow {
    display: flex; 
    margin: 50px auto; 
    overflow: hidden; 
    padding: 0 40px;
}
.htm1 {
    flex: 1;
    max-width: 950px;
    display: flex; 
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease;
    margin: 0 30px;
}
.htm1 img {
    width: 100%; 
    display: none; 
}
.htm1 .active {
    display: block; 
}
.slideshow button {
    background-color: transparent;
    border: none; 
    cursor: pointer;
}
button img {
    width: 30px; 
    height: auto; 
}



.aboutHTM{
    margin: 0 auto;
    display: flex;
    max-width: 80%;
    height: 500px;
    justify-content: center;
    align-items: center;
}
.aboutHTM h1{
    font-family: 'Lobster', cursive;
    margin-bottom: 30px;
}
.aboutHTM .abouthtm{
    flex: 1;
    padding: 0 40px;
    text-align: justify;
    font-size: 20px;
}
.aboutHTM img{
    width: 30%;
    height: auto;
}

main{
    display: flex;
    margin: 35px 0;
}
main section{
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
section h1{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 30px;
}
section img{
    margin: 10px;
    width: 100%;
    align-self: center;
    border: 1px solid #552f08;
    cursor: pointer;
}
section img:hover{
    border: 1px dashed #552f08;
    border-radius: 10px;
    box-shadow: 3px 3px 8px 0 #552f08;
    transition: 0.6s;
}





.htm2{
    align-self: center;
    width: 90%;
    margin: 40px;
    cursor: pointer;
}
.htm2:hover{
    width: 92%;
    transition: 0.5s;
 }
.sum {
    font-size: 20px;
    width: 70%;
    align-self: center;
}
.sum p{
    text-align: justify;
}
.sum h4{
    font-family: 'Dancing Script', cursive;
    text-align: right;
    margin: 30px;
    font-style: italic;
}



footer{
    height: fit-content;
    padding: 10px 10px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    background-color: #f5d2c4;
    border-top: 10px solid #eeac92;
}
.end {
    padding: 0 20px;
    display: flex;
}
footer article{
    text-align: justify;
    margin-bottom: 36px;
}
footer article h2{
    margin: 5px 0;;
}
/* ONE */
footer .one{
    width: 35%;
    display: flex;
    flex-direction: column;
    margin-right: 35px;
}
.one .image{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.one .image img{
    width: 35%;
    height: auto;
}
.contact button{
    margin: 0 3px;
    height: 20px;
    width: auto;
    background: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.contact button:hover{
    background-color: aliceblue;
}
.contact img{
    height: 100%;
    width: auto;
}
/* TWO */
footer ul{
    margin-left: 25px;
}
/*  */
footer hr{
    margin: 10px 0;
}
.rights{
    color: #7e460e;
    text-align: center;
    margin-bottom: 10px;
}



@media (max-width: 1050px){
    header{
        height: 150px;
        border-bottom: 8px solid #eeac92;
    }
    .logo img{
        margin-left: 5px;
    }
    nav{
        margin-right: 5px;
    }
    nav a{
        font-size: 25px;
        padding: 5px 10px;
    }
}
@media (max-width: 768px){
    .logo img{
        margin-left: 5px;
    }
    nav{
        margin-right: 5px;
    }
    nav a{
        font-size: 25px;
        padding: 5px 10px;
    }
    .aboutHTM{
        height: 400px;
        max-width: 90%;
    }
    section h1{
        font-size: 25px;
        margin-bottom: 18px;
    }
    .aboutHTM .abouthtm{
        padding: 0 25px;
        font-size: 17px;
    }
    .aboutHTM .abouthtm h1{
        margin-bottom: 30px;
    }

    footer article{
        margin-bottom: 25px;
    }
    footer article h2{
        margin: 5px 0;;
    }
    /* ONE */
    footer .one{
        width: 100%;
        margin: 0;
    }
    .one .image{
        width: 100%;
    }
    .one .image img{
        width: 25%;
    }
    .contact button{
        margin: 0;
    }
    /* TWO */
    footer ul{
        margin-left: 35px;
    }
    .end{
        flex-direction: column;
    }
}
@media (max-width: 580px){
    header{
        height: fit-content;
        border-bottom: 5px solid #eeac92;
        flex-direction: column;
    }
    .logo{
        height: 80px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .logo img{
        height: 100%;
        width: auto;
    }
    nav{
        width: 100%;
    }
    nav a{
        margin: 15px auto;
        font-size: 18px;
        padding: 5px 8px;
    }
    
    .slideshow {
        margin: 20px auto; 
        padding: 0 10px;
    }
    .htm1 {
        margin: 0 20px;
    }
    button img {
        width: 20px; 
    }
    
    
    .aboutHTM{
        max-width: 100%;
        height: 250px;
    }
    .aboutHTM .abouthtm{
        flex: 1;
        font-size: 11px;
    }
    .aboutHTM .abouthtm h1{
        margin-bottom: 10px;
    }
    .aboutHTM img{
        margin: 0 20px;
    }
    
    main{
        margin: 5px 0;
    }
    section h1{
        font-size: 15px;
    }
    section img{
        margin: 10px;
    }
    
    
    .htm2{
        width: 85%;
        margin: 20px;
    }
    .sum {
        font-size: 15px;
        width: 75%;
    }
    .sum h4{
        text-align: right;
        margin: 15px;
    }
    
    
    
    footer{
        border-top: 5px solid #eeac92;
        font-size: 13px;
        padding: 0;
    }
    .one .image{
        margin-bottom: 10px;
    }

}