*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-image: url(./IMG/loginbg.png);
    background-size: contain;
    color: #552f08;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
}
header{
    background-color: #f1c7b7;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 0 10px 0 #78625b;
}
header img{
    height: 100%;
    width: auto;
}
main{
    flex: 1;
    padding: 30px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 120px;
}
.logo img{
    width: 250px;
    max-width: 100%;
    height: auto;
}
main .loginBox{
    background-color: rgba(241, 227, 222, 0.6);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    padding: 30px 40px;
    width: 500px;    
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.loginBox h2{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    border-radius: 15px;
    padding: 5px 30px;
    margin-bottom: 30px;
    font-size: 30px;
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.loginBox input{
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    width: 100%;
    background-color: aliceblue;
    margin-bottom: 10px;
    padding: 5px 5px;
    outline: none;
    border: 1px solid #cfb1a7;
    border-radius: 5px;
}
#forget{
    font-size: 13px;
    text-decoration: none;
    color: #61564c;
    cursor: pointer;
}
#forget:hover{
    text-decoration: underline #61564c;
}
.loginBox button{
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    border-radius: 5px;
    padding: 5px 5px;
    border: none;
    cursor: pointer;
}
#login{
    width: 30%;
    margin: 10px 0;
    background-color: #f5d2c4;
    color: #552f08;
    border: 1px solid #b1ada8;
}
#login:hover{
    background-color: #552f08;
    color:#f5d2c4;
}
a{
    width: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
}
#create{
    width: 100%;
    background-color: #f1ece1;
    color: #281610;
    border: 1px dashed #281610;
}
#create:hover{
    background-color: #281610;
    color: #f1ece1;
}
#back{
    font-size: 15px;
    text-decoration: none;
    color: #61564c;
    cursor: pointer;
    margin-top: 40px;
    padding: 5px 15px;
    border-radius: 20px;
}
#back:hover{
    background-color: rgba(255, 255, 255, 0.7);;
}

footer{
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1c7b7;
    height: 70px;
    width: 100%;
    box-shadow: -2px 0 10px 0 #78625b;
}

@media(max-width: 768px){
    header{
        height: 100px;
    }
    main{
        padding: 0 25px;
        flex-direction: column;
    }
    main .logo{
        width: 150px;
        margin: 0 auto;
    }
    .logo img{
        width: 100%;
        height: auto;
    }
    main .loginBox{
        margin: 10px;
        padding: 20px 20px;
    }
    .loginBox h2{
        font-size: 25px;
    }
    .loginBox input{
        font-size: 14px;
    }
    #forget{
        font-size: 11px;
    }
    .loginBox button{
        font-size: 14px;
    }
    .loginBox h2{
        margin-bottom: 15px;
    }
    .loginBox a:hover{
        text-decoration: underline #61564c;
    }
    #login{
        width: 100%;
    }
    #back{
        font-size: 13px;
    }
    footer{
        font-size: 14px;
        background-color: #f1c7b7;
        height: 100px;
        width: 100%;
        box-shadow: -2px 0 10px 0 #78625b;
    }
}
@media(max-width: 468px){
    header{
        height: 60px;
    }
    main .logo{
        margin:0 auto;
        width: 130px;
    }
    .logo img{
        width: 100%;
    }
    main .loginBox{
        padding: 10px 15px;
        width: 100%;    
    }
    .loginBox h2{
        font-size: 20px;
    }
    .loginBox input{
        font-size: 12px;
    }
    #forget{
        font-size: 10px;
    }
    #back{
        font-size: 10px;
    }
    .loginBox button{
        font-size: 12px;
    }
    .loginBox h2{
        margin-bottom: 15px;
    }
    .loginBox a:hover{
        text-decoration: underline #61564c;
    }
    #login{
        width: 100%;
    }
    #back{
        font-size: 13px;
    }
    .loginBox h2{
        margin-bottom: 20px;
    }
    footer{
        font-size: 13px;
        height: 50px;
    }
}
