*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main nav button{
    background: transparent;
    width: 100%;
    border: none;
    text-align: left;
    color: #552f08;
    font-family: 'Quicksand', sans-serif;
}
body{
    font-family: 'Quicksand', sans-serif;
    background-image: url(./IMG/orderbg.png);
    color: #552f08;
}
/* HEADER */
header{
    
    height: 50px;
    background-color: #f5d2c4;
    box-shadow: 0 2px 5px 0 grey;
    display:flex;
}
header img{
    height: 100%;
    width: auto;
}
header .right{
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
header button{
    background-color: #f5d2c4;
    color: #552f08;
    width: 100%;
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px dashed #552f08;
    cursor: pointer;
}
header button:hover{
    background-color: #552f08;
    color: #f1c7b7;
}
header .mid{
    flex: 1;
}
/* SEARCH */
.search{
    margin: 10px auto;
    padding: 10px 0;
    width: 300px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.search input{
    width: 100%;
    padding: 5px 10px;
    background-color: #f4dcd3;
    border-radius: 15px;
    border: none;
}
.search button{
    position: absolute;
    right: 5px;
    height: 20px;
    width: auto;
    background: transparent;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.search button:hover{
    background-color: #eea284;
}
.search img{
    height: 100%;
    width: auto;
}
/* MAIN */
main{
    display: flex;
    padding: 0 20px;
    font-family: 'Quicksand', sans-serif;
}
/* NAV, CART */
main nav, main .cart{
    padding: 10px 10px;
    min-width: 250px;
    height: fit-content;
    background-color: #f5d2c4;
    border-radius: 5px;
    border: 3px solid #f8e1d7;
}
.title{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #552f08;
}
.title img{
    width: 25px;
    height: 25px;
    margin-right: 15px;
}
/* NAV */
main nav a{
    margin-left: 35px;
    text-decoration: none;
    color:#552f08;
    
}
nav ul{
    list-style-type: none;
}
nav li{
    border-bottom: 1px solid #c6bbb1;
    cursor: pointer;
    padding: 4px;
}
nav li:last-child{
    border: none;
}
nav li:hover{
    background-color: aliceblue;
}
/* PRODUCT */
main section{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0 25px;
}
article .type{
    text-align: center;
    font-size: 20px;
}
article .product{
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
}
article .container{
    display: flex;
    flex-direction: column;
    background-color: #f5d2c4;
    border-radius: 15px;
    width: 150px;
    height: 230px;
    padding: 5px 8px;
    margin: 10px 5px;
    box-shadow: 1px 1px 5px 0 rgb(122, 122, 122);
    cursor: pointer;
}
.container:hover{
    background-color: #f1c7b7;
    box-shadow: 3px 3px 8px 0 rgb(68, 68, 68);
    transition: 0.6s;
    border: 1px solid #552f08;
}
.container img{
    border-radius: 15px;
    width: 100%;
    height: auto;
    max-height: 140px;
}
.info{
    flex: 1;
    text-align: center;
}
.info h5{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    margin: 5px 0;
    background-color: rgba(231, 247, 250, 0.3);
    border-radius: 6px;
}
.container button{
    align-self: end;
    width: 20px;
    height: 20px;
    padding: 3px 3px;
    background: transparent;
    border-radius: 50px;
    border: 1px solid #ff7440;
    cursor: pointer;
}
.container button:hover{
    background-color: whitesmoke;
}
.container button img{
    width: 100%;
}
/* CART */

.cart ul {
    list-style: none; 
}
.cart ul li {
    border-bottom: 1px solid #f3e2db; 
    padding: 10px 0; 
}
.cart ul li:last-child {
    border-bottom: none;
}
#totalPrice {
    margin: 10px;
    font-size: 20px; 
    font-weight: bold; 
    color:#ff7440; 
    background-color: #f3e2db;
    padding: 5px;
    border-radius: 10px;
}
#paymentButton{
    display: block;
    margin: 15px auto;
    background-color: #ff7440;
    color: white;
    border: 1px solid #fda586;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
}
#paymentButton:hover{
    background-color: #ff5a1e;
}
#paymentOptions{
    background-color: #f3e2db;
    border-radius: 10px;
    padding: 8px 8px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
#paymentOptions h4{
    margin-bottom: 10px;
}
#paymentOptions button{
    font-size: 13px;
    color: #552f08;
    margin-bottom: 5px;
    border-radius: 5px;
    border: none;
    background-color: #eeb8a3;
    padding: 5px 5px;
    cursor: pointer;
}
#paymentOptions button:hover{
    background-color: #f0a384;
    border: 1px dashed #552f08;
}



/* FOOTER */
footer{
    height: fit-content;
    padding: 10px 10px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    background-color: #f5d2c4;
    border-top: 10px solid #eeac92;
}
.end {
    padding: 0 20px;
    display: flex;
}
footer article{
    text-align: justify;
    margin-bottom: 36px;
}
footer article h2{
    margin: 5px 0;;
}
/* ONE */
footer .one{
    width: 35%;
    display: flex;
    flex-direction: column;
    margin-right: 35px;
}
.one .image{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.one .image img{
    width: 35%;
    height: auto;
}
.contact button{
    margin: 0 3px;
    height: 20px;
    width: auto;
    background: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.contact button:hover{
    background-color: aliceblue;
}
.contact img{
    height: 100%;
    width: auto;
}
/* TWO */
footer ul{
    margin-left: 25px;
}
/*  */
footer hr{
    margin: 10px 0;
}
.rights{
    color: #7e460e;
    text-align: center;
    margin-bottom: 10px;
}
/*  */
@media(max-width: 768px){
    /* MAIN */
    main{
        flex-direction: column;
    }
    /* NAV, CART */
    main nav, main .cart{
        width: 70%;
        margin: 10px auto;
    }
    
    
    .end {
        flex-direction: column;
    }
    footer article{
        text-align: justify;
        margin-bottom: 25px;
    }
    footer article h2{
        margin: 5px 0;;
    }
    /* ONE */
    footer .one{
        width: 100%;
        margin: 0;
    }
    .one .image{
        width: 100%;
    }
    .one .image img{
        width: 25%;
    }
    .contact button{
        margin: 0;
    }
    /* TWO */
    footer ul{
        margin-left: 35px;
    }

}
@media(max-width: 480px){
    header{
        height: 38px;
    }
    header .right{
        width: 100px;
    }
    header button{
        font-size: 10px;
        padding: 3px 8px;
    }
    /* SEARCH */
    .search{
        margin: 10px auto;
        padding: 0;
        width: 200px;
        height: 20px;
    }
    .search input{
        font-size: 11px;
        height: 100%;
    }
    /* MAIN */
    /* NAV, CART */
    main nav, main .cart{
        width: 85%;
        margin: 20px auto;
    }
    .title img{
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }
    /* NAV */
    main nav a{
        font-size: 14px;
        margin-left: 30px;
    }
    nav li{
        padding: 2px;
    }
    /* PRODUCT */
    main section{
        margin: 0 5px;
    }
    article .type{
        font-size: 18px;
    }
    article .container{
        font-size: 14px;
        width: 140px;
        height: 210px;
    }
    .container img{
        max-height: 130px;
    }
    .info h5{
        height: 30px;
    }
    .container button{
        width: 18px;
        height: 18px;
        padding: 2px 2px;
    }
    /* CART */
    
    #totalPrice {
        font-size: 16px; 
    }
    #paymentButton{
        font-size: 17px;
    }
    
    
    footer{
        border-top: 5px solid #eeac92;
        font-size: 13px;
        padding: 0;
    }
    .one .image{
        margin-bottom: 10px;
    }
    
}