.tintuc{
    border-bottom: 1px solid #552f08;
} 
.content-container{
    display: flex;
}
.left-section{
    width: 70%; 
    padding-right: 20px;
}
.news-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin: 20px;
}
.news-item{
    background-color: white;
    height: auto;
    max-height: 350px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.news-item:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    z-index: 1; 
}
.news-item a{
    text-decoration: none ;
    color: inherit ;
}
.news-item a:hover{
    text-decoration: none ;
    color: inherit ;
}
.news-image{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.news-content{
    padding: 20px;
    text-align: left;
}
.news-content h2{
    font-size: 15px;
    margin-bottom: 10px;
}
.news-content p{
    font-size: 13px;
    color: #555;
    margin-bottom: 5px;
}
.read-more{
    display: inline-block;
    margin-top: 8px;
    font-size: 10px;
    color: #4d3319;
    text-decoration: none;
    font-weight: bold;
}
.read-more:hover{
    text-decoration: none;
}
.trang{
    display: flex;
    margin-top: 40px auto 20px;
    justify-content: center;
}
.trang a{
    color: black;
    float: left;
    padding: 4px 8px;
    text-decoration: none;
    transition: background-color 0.3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}
.trang a.active{
    background-color: #f5d2c4;
    color: white;
    border: 1px solid #f5d2c4;
    text-decoration: none;
}
.trang a:hover:not(.active){
    background-color: #fff;
}
.left-section h1{
    margin: 20px;
}
.right-section{
    width: 30%;
    border-color: wheat;
    border-left: 1px solid #fff;
}
.right-section h1{
    margin: 20px;
}
.highlight-grid{
    display: flex;
    flex-direction: column;
}
.highlight-item{
    background-color: #fff;
    padding: 10px;
}
.highlight-item:hover{
    transform: translateY(-5px);
}
.highlight-item a{
    text-decoration: none;
    color: #7e460e;
}
.highlight-item a:hover{
    text-decoration: none;
}
.highlight-item p{
    margin-top: 10px;
    color:black;
}
@media (max-width: 1050px){
    .news-grid {
        grid-template-columns: repeat(2, 1fr);                      
        gap: 15px;
    }
}
@media (max-width: 768px){
    .content-container {
        flex-direction: column; 
    }
    .left-section, .right-section {
        width: 100%;
        padding: 10px;
    }
    .news-grid {
        grid-template-columns: 1fr; 
    }
    .highlight-grid {
        padding: 10px;
    }
}
@media (max-width: 580px){
    .news-item {
        padding: 10px;
    }
    .news-image {
        height: 120px;
    }
}